[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
laserhockey = {editable = true, git = "https://git@github.com/martius-lab/laser-hockey-env.git"}
numpy = "*"
matplotlib = "*"
box2d = "*"
gymnasium = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.10"
